*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 200%;
    width: 100%;
}
#back{
    height: 25%;
    width: 100%;
    display: flex;
   justify-content: space-between;
}
#nav{
    font-family: 'Wallpoet', cursive;
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    z-index: 4;
    cursor: pointer;
}
#links{
    font-size:17px;
    font-weight: 300;
    width: 60%;
    display: flex;
    justify-content: space-around;
}
#icon{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    width: 10%;
}   
#i1{
    position: absolute;
    top: 18%;
    left: 2%;
}
#urus{
   
    height: 100%;
    width:40%;
   
}
.fas fa-angle-down{
color: white;

}
#color{
     height: 100%;
     width:60%;
    background-image: url(urus-1.jpg);
    background-size: cover;
    }
#overlay1{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.726);
    }
    
#overview{
    background-color: orange;
    height: 40px;
    width: 700px;
    position: absolute;    
    top: 40%;
    left: 46%;
    text-align: center;
    font-size: 36px;
    font-family: 'Wallpoet', cursive;
    box-shadow:  0 0 12px black;
}
#discover{
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 50px; 
    height: 103px;
    width: 280px;
    padding: 5px;
    color: #f5f6fa;
    text-align: center;
    font-family: 'Wallpoet', cursive;
    font-weight: 600; 
    
}
#U1{
    font-family: 'Wallpoet', cursive;
    font-size: 130px;
    position: absolute;
    top: 20%;
    left: 40%;
    color: #f5f6fa;
}
#div1{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 25%;
    width: 100%;
    background-image: url(urus1.jpg);
    background-size: cover;
    background-position: bottom;
}
.over{
    color:  #f5f6fa;
    text-align: left;
    font-size: 17px;
    height: 400px;
    width: 390px;
    font-family: 'Montserrat', sans-serif;
}
#o1{
    font-family: 'Wallpoet', cursive;
    font-size: 43px;    
}
#interior{
    height: 23%;
    width: 100%;
   display: flex;
    
}
#inl1{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.76);
}

.mat{
    text-align:left;
    color: #f5f6fa;
    background-image: url(int1.JPG);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    height: 100%;
    width: 100%;
    background-color: orange;
}
.inmat{
    position: absolute;
    top: 215.5%;
    left: 3%;
    height: 480px;
    width: 400px;
}
#in1{
    text-align: center;
    font-size: 40px;
    font-family: 'Wallpoet', cursive;
}
#exterior{
    color: #f5f6fa;
    font-family: 'Wallpoet', cursive;
    height: 12%;
    width: 100%;
    background-image: url(start.webp);
    background-size: cover;
    background-position-y: 70%;
}
#exl{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.767);
}
#ready{
    position: absolute;
    top: 295%;
    left: 5%;
    height: 20%;
    width: 80%;
    font-size: 70px;
}
#race  {
    position: absolute;
    top: 315%;
    left: 40%;
    height: 20%;
    width: 55%;
    font-size: 70px;
}
#dnav{
    height: 15%;
    width: 100%;
    background-image:url(exhaust.jpg);
    background-size: cover;
}
#overlay{
   height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.781);
}
#upperl{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    height: 30px;
    width: 100%;
    background-color: white;
    font-family: 'Wallpoet',cursive;
}
.midl{
    letter-spacing: 1.5px;
    position: absolute;
    top: 350%;
    left: 0%;
    color: white;
    height: 45%;
    width: 100%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-evenly;
    font-size:16px;    
}
.headl{
    font-size:35px;
    font-family: 'Wallpoet', cursive;
    border-bottom: 2px solid white;
}

.downl{
    text-align: center;
    color: rgba(216, 215, 215, 0.842);
    height:25px;
    width: 100%;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 400%;
}
